<launch>

   <node name="Webcam_pub" pkg="image_view" type="image_tx.py" output="screen" respawn="true"/>

   <node name="Webcam_sub" pkg="image_view" type="image_rx.py" output="screen" respawn="true"/>

   <!-- <node name="Webcam_pub" pkg="image_view" type="streamer" output="screen" respawn="true"/>

   <node name="Webcam_sub" pkg="image_view" type="viewer" output="screen" respawn="true"/> -->

</launch>